.header {
  position: fixed; /* Фиксирует хедер */
  top: 0;          /* Располагает в верхней части экрана */
  left: 0;         /* Выравнивает по левому краю */
  width: 100%;     /* Растягивает на всю ширину экрана */
  z-index: 1000;   /* Устанавливает высокий приоритет отображения */
  padding: 20px;
  background-color: white; 
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляет тень */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #00796b;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #00796b;
  font-size: 18px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #00574b;
}

.menu_icon {
  display: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  padding: 0px 20px 0px 0px 
}

@media (max-width: 768px) {
  .menu_icon {
    display: block; 
  }
  
  .nav {
    display: none; 
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    position: absolute;
    top: 80px; 
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }

  .nav a {
    font-size: 20px;
    color: white;
  }

  .nav a:hover {
    color: #00796b;
  }
}
