.section {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}


.sectionn-text {
  font-size: 1.2rem;
  color: #000;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 50px;
}

.section-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 700;
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  opacity: 0; 
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards; 
}


.testimonial {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: var(--delay); 
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00796b;
}

.testimonial-name {
  font-size: 30px;
  text-align: center  ;
}

.testimonial-text {
  font-size: 18px;
  text-align: center  ;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .section-title {
    font-size: 28px;
  }

  .testimonial {
    padding: 15px;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-avatar {
    width: 40px;
    height: 40px;
  }

  .author-name {
    font-size: 14px;
  }
}
